<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="designer" content="Michelle Arrowood" />
    <meta name="web-author" content="Isabelle Wedin" />

    {{ partial "style-tags.html" . }}
    {{ $icon := resources.Get "/images/favicon.svg" | fingerprint "md5" }}
    <link rel="icon" href="{{ $icon.RelPermalink }}" type="image/svg+xml">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ partial "social-metadata.html" . }}
  </head>

  <body>
    {{ partial "menu.html" . }}
    {{- block "main" . }}{{- end }}
    {{ partial "footer.html" . }}
    {{ partial "social-menu.html" . }}

    {{ partial "clip-paths.html" . }}
    {{ partial "script-tags.html" . }}
  </body>
</html>
