{{ $media := sort .Site.Data.media "Title" }}
{{ $media := sort $media "Weight" }}

<section id="media">
  <h2>{{ .Get "title" | safeHTML }}</h2>
  <div class="slider">
    <button title="scroll left">
      <picture alt="">
      </picture>
    </button>
    <ul>
      {{ range $media }}
        <li>
          <a href="#media-{{ .Slug }}" title="{{ .Title }} / {{ .Description }}">
            {{ $thumbnail := resources.Get (path.Join "/images/media-thumbnails/" .Thumbnail) | fingerprint "md5" }}
            <img src="{{ $thumbnail.RelPermalink }}" loading="lazy" alt="">
          </a>
          <span>{{ .Label }} </span>
        </li>
      {{ end }}
    </ul>
    <button title="scroll right">
      <picture alt="">
      </picture>
    </button>
  </div>
  <div class="figures">
    {{ range $media }}
      <figure id="media-{{ .Slug }}">
        {{ if ne .Embed "" }}
          <iframe
            data-src="{{ .Embed }}"
            loading="lazy"
            title="video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            frameborder="0"
          ></iframe>
        {{ else }}
          {{ $banner := resources.Get (path.Join "/images/media-banners/" .Banner) | fingerprint "md5" }}
          <a href="{{ .Link }}" ><img src="{{ $banner.RelPermalink }}" loading="lazy" alt="" aria-labelledby="media-{{ .Slug }}-label"></a>
        {{ end }}
        <figcaption>
          <p id="media-{{ .Slug }}-label"><span class="title">{{ .Title }}</span> / {{ .Description }}</p>
        </figcaption>
      </figure>
    {{ end }}
  </div>
  <a href="#contact" class="button">Get In Touch</a>
  <a href="https://readmetxt.xyz" class="button">Order Chelsea’s Memoir</a>
</section>