<section id="memoir">
  <div class="heading">
    <h2>{{ .Get "title"  | safeHTML }}</h2>
    {{ .Inner | markdownify }}
    <a class="button" href="https://readmetxt.xyz">Order Now</a>
  </div>
  {{ $banner := resources.Get (path.Join "/images/" (.Get "banner-image")) | fingerprint "md5" }}
  {{ $book := resources.Get (path.Join "/images/" (.Get "book-image")) | fingerprint "md5" }}
  <div class="content" style='--banner-image: url("{{ $banner.RelPermalink }}"); --book-image: url("{{ $book.RelPermalink }}");'>
  </div>
</section>
